@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap')

body
  background: #152347!important
  min-height: 100vh

section
  background: #152347

h1, h2, h3, h4, h5
  font-family: 'Playfair Display', serif

#header-art-1, #header-art-2
  position: absolute
  z-index: -1
  margin: 0

#header-art-1
  top: 0
  right: 0

#header-art-2
  bottom: 0
  left: 0

.particleBg
  position: absolute

#top-bar
  position: absolute
  width: 100%

#header-area
  height: 75vw
  max-height: 900px
  min-height: 100vh
  .hacktoberLogo
    max-width: 100vmin
    padding-top: 10vh
    width: 100%
  .amFOSSLogo, .amritaLogo
    max-width: 10rem
    min-width: 15vw
    width: 100%
    margin: 0
  .header-title
    height: 100%
  h1
    color: yellow
    text-transform: uppercase
    font-size: calc(1.5rem + 2.5vmax)
    line-height: 110%
    margin: 0

  h3
    color: white
    font-size: calc(1.2rem + 1.5vmax)

#venue-details
  min-height: 50vh
  display: flex
  align-items: center
  justify-content: center
  color: white
  line-height: 1.3
  h2
    color: yellow
    font-size: calc(1.5rem + 2vmax)
  h3
    font-size: calc(1.3rem + 1.5vmax)
  .fs-4
    font-size: calc(1.2rem + 1vmax)
  .fs-5
    font-size: calc(1.1rem + 0.6vmax)
  .fs-6
    font-size: calc(1.1rem + 0.4vmax)
  #location-map
    width: 100%
    height: 100%
    min-height: 300px

.button
  background-color: #ffc107
  border-radius: 5px
  width: 20vh
  height: 5vh
  font-weight: 500
  color: #000
  text-align: center
  vertical-align: middle