@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap')

body
  background: #152347
  min-height: 100vh
  font-family: 'Playfair Display', serif

h1, h2, h3, h4, h5
  font-family: 'Playfair Display', serif

#header-art
  position: absolute
  top: 0
  right: 0

.particleBg
  position: absolute

#top-bar
  position: absolute
  width: 100%

#header-area
  min-height: 100vh
  .hacktoberLogo
    max-width: 100vmin
    padding-top: 10vh
    width: 100%
  .amFOSSLogo, .amritaLogo
    max-width: 15vw
    min-width: 8rem
    width: 100%
    margin: 0
  h1
    color: yellow
    text-transform: uppercase
    font-size: calc(1.3rem + 2.5vw)
    line-height: 110%
    margin: 0

  h3
    color: white
    font-size: calc(1rem + 1.5vw)
